.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2e2e2e;
}

.search-box {
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-box input {
    padding: 15px;
    width: 250px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 18px;
}

.search-box button {
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

.search-box button:hover {
    background-color: #f0f0f0;
}

.weather-card {
    width: 300px;
    padding: 30px;
    background: linear-gradient(135deg, #76b3fc, #6f86d6);
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white;
}

.weather-icon {
    width: 80px;
    margin-bottom: 20px;
}

h2 {
    font-size: 48px;
    margin: 0;
}

h3 {
    font-size: 24px;
    margin: 5px 0 20px 0;
}

.weather-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.weather-info div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-info i {
    font-size: 24px;
    margin-bottom: 5px;
}

.weather-info p {
    margin: 0;
    font-size: 14px;
}


@media (max-width: 768px) {
    .weather-card {
        width: 250px;
        padding: 20px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 20px;
    }

    .weather-info i {
        font-size: 20px;
    }
}
